<header>
  <div class="navbar">
    <div class="navbar-text">
      <div class="img-wave">
        <%= image_tag "wave.png", alt:"Wave", width:70, height:70%>
      </div>
      <div class="logo">
        <p>Flood</p>
      </div>
      <a href="">Home</a>
      <a href="https://www.thehackingproject.org/" class="THP">THP</a>
      <a href="https://google.com">Questions ?</a>
    </div>
    <div class="avatar">
      <%= image_tag "meduse.jpg", alt:"cool meduse", class:"img-avatar"%>
      <div class="dropdown-content">
        <p><%= image_tag "github.png", alt:"G", class:"git", width:15, height:15%><a href="https://github.com/Ysalien"> Ysalien</a></p>
        <p><%= image_tag "github.png", alt:"G", class:"git", width:15, height:15%><a href="https://github.com/THP-nice"> Nice Team</a></p>
        <p><%= image_tag "facebook.png", alt:"F", class:"git", width:15, height:15%><a href="https://www.facebook.com/mansuyarthur"> Facebook</a></p>
      </div>
    </div>
  </div>
</header>
